html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;   
}
body {
    padding:0;
    margin:0;
    background-color:$white;
    color: $black;
    font-family:$baseFont;
    line-height: 1.3;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
